<div class="container">
	<div class="row">
		<div class="col-md-6">
		<h2>Wohnwand</h2>
			<div class="row">
				<div class="col-md-4">
					<h4>Wohnwand</h4>
					<spectrum-colorpicker ng-model="color1" options="options1" on-change="changed(1)"></spectrum-colorpicker>
				</div>
				<div class="col-md-4">
					<h4>Kristalllampe</h4>
					<button class="btn" ng-click="togglePlug('10101', '1', false)">AUS</button><button class="btn" ng-click="togglePlug('10101', '1', true)">AN</button>
				</div>
				<div class="col-md-4">
					
				</div>
			</div>
			
		</div>
	</div>
</div>