<div class="container">
	<div class="row">
		<div class="col-md-6">
			<table class="table table-bordered" ng-show="customer">
				<tr>
					<td class="info">Vorname </td>
					<td>{{customer.firstName}}</td>
				</tr>
				<tr>
					<td class="info">Nachname</td>
					<td>{{customer.lastName}}</td>
				</tr>
				<tr>
					<td class="info">PLZ</td>
					<td>{{customer.zipCode}}</td>
				</tr>
				<tr>
					<td class="info">Ort</td>
					<td>{{customer.location}}</td>
				</tr>
				<tr>
					<td class="info">Straße</td>
					<td>{{customer.street}}</td>
				</tr>
				<tr>
					<td class="info">e-mail</td>
					<td>{{customer.email}}</td>
				</tr>


			</table>
		</div>
		<div class="col-md-6">
		<table class="table table-bordered" ng-show="customer">
				<tr>
					<td class="info">Telefon </td>
					<td>{{customer.phone}}</td>
				</tr>
				<tr>
					<td class="info">Telefon mobil</td>
					<td>{{customer.mobilePhone}}</td>
				</tr>
				<tr>
					<td class="info">Geburtstag</td>
					<td>{{customer.birthday}}</td>
				</tr>
				<tr>
					<td class="info">Beruf</td>
					<td>{{customer.job}}</td>
				</tr>
				<tr>
					<td class="info">Hausarzt</td>
					<td>{{customer.familyDoctor}}</td>
				</tr>
				<tr>
					<td class="info">Anlegedatum</td>
					<td>{{customer.creationDate}}</td>
				</tr>


			</table>
		
		</div>
	</div>




</div>
</div>